.jsontree {
    font-size: 14px;
    line-height: 1.2;
    font-family: 'RobotoDraft', sans-serif;
    color: #005aa0;
}
.jsontree,
.jsontree ul{
    list-style: none outside none;
}
.jsontree {
    padding-left: 0;
}
.jsontree>li>.key{
    display: none;
}
.jsontree .array>li>.key{
    display: none;
}
.jsontree li {
    margin: 4px;
    padding: 3px;
    line-height: 18px;
}
.jsontree .key{
    
}
.jsontree .fold{
    cursor: pointer;
}
.jsontree .fold:before{
    padding: 0;
    font-size: 18px;
    margin: 0;
    display: inline-block;
    width: 15px;
    text-align: center;
    height: 15px;
    line-height: 15px;
    vertical-align: middle;
    font-family: sans-serif;
    color: #fdd;
}
.jsontree .fold.folded:before{
    padding: 0;
    font-size: 18px;
    margin: 0;
    display: inline-block;
    width: 15px;
    text-align: center;
    height: 15px;
    line-height: 15px;
    vertical-align: middle;
    font-family: sans-serif;
    color: #ddd;
}
