<!doctype html>
<html>

<head>
    <title>NixUI</title>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
    <script src="/bower_components/platform/platform.js"></script>
    <link rel="import" href="/bower_components/font-roboto/roboto.html">

    <link rel="import" href="/bower_components/core-signals/core-signals.html">
    <link rel="import" href="/bower_components/paper-dialog/paper-dialog-transition.html">
    <link rel="import" href="/bower_components/paper-button/paper-button.html">

    <link rel="import" href="/public/progress-bar.html">
    <link rel="import" href="/public/ajax.html">
    <link rel="import" href="/public/marked.html">
    <link rel="import" href="/public/error-dialog.html">
    <link rel="import" href="/public/package-dialog.html">
    <link rel="import" href="/bower_components/core-header-panel/core-header-panel.html">
    <link rel="import" href="/bower_components/core-toolbar/core-toolbar.html">
    <link rel="import" href="/bower_components/paper-input/paper-input.html">
    <link rel="import" href="/bower_components/paper-ripple/paper-ripple.html">
    <link rel="import" href="/bower_components/core-icon-button/core-icon-button.html">
    <link rel="import" href="/bower_components/core-signals/core-signals.html">
    <link rel="import" href="/bower_components/paper-menu-button/paper-menu-button.html">
    <link rel="import" href="/bower_components/paper-item/paper-item.html">
    <link rel="import" href="/bower_components/paper-toast/paper-toast.html">
    <link rel="import" href="/bower_components/core-tooltip/core-tooltip.html">
    <link rel="import" href="/bower_components/core-animation/core-animation.html">

    <link rel="import" href="/public/dialog.html">

    <link rel="import" href="/public/body.html">
    <style>
    html,body {
        height: 100%;
        margin: 0;
        background-color: white;
        font-family: 'RobotoDraft', sans-serif;
    }
    </style>
</head>

<body unresolved touch-action="auto">