/* graph: indented */
.node rect {
    fill: #fff;
    fill-opacity: .5;
    /*margin: 4px;*/
    /*stroke: #3182bd;*/
    /*stroke-width: 1px;*/
}
.node rect.enterable {
    cursor: pointer;
    fill: #aec7e8;
    transition: fill 400ms linear;
}
.node rect.entered {
    cursor: pointer;
    fill: #1f77b4;
    transition: fill 400ms linear;
}
.node rect.option {
    fill: #98df8a;
}
.node rect.value {
    stroke: orange;
    stroke-width: 1px;
}
.node text {
    pointer-events: none;
    /*font: 10px sans-serif;*/
    font-family: sans-serif;
    font-variant: small-caps;
    stroke: #005aa0;
    /*text-shadow: 0 0 20px #0ae;*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.link {
    /*stroke: #999;*/
    stroke-opacity: .6;
    fill: none;
    stroke: #9ecae1;
    stroke-width: 1px;
}
#panel {
    height: 100%;
    width: 100%;
}
#editpanel {
    width: 40%;
}
